
<link rel="stylesheet" href="~/css/HomePage.css" />

@if(ViewBag.Header == "Home")
{
    <div id="HomeContainer">
        <div id="Left">
            <div id="LeftTop">
                <div id="ProfilePictureDiv">
                    <img src="~/Images/ProfilePicture.jpg" alt="Picture" id="ProfilePicture" />
                </div>
                <div id="CustomerNameDiv">
                    <h1 id="CustomerName">@ViewBag.CustomerName</h1>
                </div>
            </div>
            <div id="LeftBottom">
                <a href="/" id="HomeButtonAnchor">
                    <div id="HomeButtonDiv">
                        <h2 id="HomeButton"> Home </h2>
                    </div>
                </a>
                <div id="AccountsButtonDiv">
                    <h2 id="AccountsButton"> Accounts </h2>
                </div>
                <a href="/Transactions" id="TransactionsButtonAnchor">
                    <div id="TransactionsButtonDiv">
                        <h2 id="TransactionsButton"> Transactions </h2>
                    </div>
                </a>
            </div>
        </div>

        <div id="Right">
            <div id="TopRight">
                <h1 id="HeaderText">@ViewBag.Header</h1>
            </div>

            <div id="BottomRight">
                @foreach (var account in ViewBag.Accounts)
                {
                    <div id="AccountDiv">
                        <div id="AccountNameDiv">
                            <p id="AccountName">@account.AccountName</p>
                        </div>
                        <div id="AccountBalanceDiv">
                            <p id="AccountBalance">@account.Saldo Kr.</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}





    







