body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#HomeContainer {
    display: flex;
    height: 100%;
    width: 100%;
}

#Left {
    height: 100%;
    width: 30%;
}

#LeftTop {
    display: flex;
    height: 20%;
    width: 100%;
    flex-direction: row;
    background-color: #437b43;
}

#ProfilePictureDiv {
    height: 100%;
    width: 40%;
    text-align: center;
}

#ProfilePicture {
    height: 65%;
    width: 65%;
    padding-top: 10%;
}

#CustomerNameDiv {
    display: felx;
    height: 100%;
    width: 60%;
}

#CustomerName {
    height: 100%;
    width: 100%;
    padding-top: 11%;
}

#LeftBottom {
    display: flex;
    height: 80%;
    width: 100%;
    background-color: #7cd27c;
    flex-direction: column;
    text-align: center;
}

#HomeButtonDiv, #AccountsButtonDiv, #TransactionsButtonDiv {
    display: flex;
    height: 10%;
    width: 100%;
    padding-top: 15px;
    border-bottom: solid;
    border-color: #437b43;
    justify-content: center;
}

    #HomeButtonDiv:hover, #AccountsButtonDiv:hover, #TransactionsButtonDiv:hover {
        display: flex;
        height: 10%;
        width: 100%;
        padding-top: 15px;
        border-bottom: solid;
        background-color: #386638;
        border-color: #000000;
        justify-content: center;
        cursor: default;
    }

#HomeButton, #AccountsButton, #TransactionsButton {
    text-align: center;
}

#Right {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
}


#TopRight {
    display: flex;
    height: 20%;
    width: 100%;
    background-color: #437b43;
    justify-content: center;
    align-items: center;
}

#HeaderText {
    width: fit-content;
    height: fit-content;
    text-align: center;
}

#BottomRight {
    display: flex;
    height: 80%;
    width: 100%;
    background-color: white;
    margin-top: 0;
    flex-direction: column;
    align-items: center;
}

#MakeTransactionDiv{

}

#AmountDiv {

}

#Amount {

}

#ChooseSenderAccount {

}

#SenderAccount {

}

#ReciverDiv {

}

#ReciverAccountNumber {

}

#ChooseReciverAccount {

}

#ReciverAccount {

}

#TransactionDiv {

}

#AccountNameSenderDiv {
   
}

#AccountNameSender {

}

#AccountNameReciverDiv {

}

#AccountNameReciver {

}

#AccountNumberReciver {

}

#AmountSpendDiv {

}

#AmountSpend {

}
